// var
$white: #fff;
$white-1: $white;


$black: #000;
$black-1: $black;
$black-2: rgba(0,0,0,0.87);
$black-3: rgba(0,0,0,0.56);
$black-4: rgba(0,0,0,0.38);
$black-5: rgba(0,0,0,0.26);
$black-6: rgba(0,0,0,0.12);


$apron-green: #00a862;
$primary : $apron-green;

$red : rgba(0,0,0,0.87);



$font-size-1: 64px;
$font-size-2: 56px;
$font-size-3: 48px;
$font-size-4: 40px;
$font-size-5: 32px;




